// TODO
// native vars

$color-primary: #398BFF;
$color-main-bg: #E5E5E5;
$color-chatlist-bg: #F3F6F8;
$color-border: #E9EDF2;
$color-border-darken: darken(#E9EDF2, 10%);
$color-placeholder: #7D8790;
$color-btn: $color-primary;
$color-btn-hover: darken($color-btn, 10%);
$color-text: #656B77;
$color-caption: #B7C0C8;
$color-msg: #7D8790;
$color-msg-user: #35383D;
$color-msg-date: #B7C0C8;

$color-bg-msg-bubble-me: #E9F5F4;
$color-bg-msg-bubble: #F6F7F9;


$gutter-xs: 12px;
$gutter-md: $gutter-xs * 2;
$gutter-lg: $gutter-xs * 4;


$fs: 14px;
$fs-lg: 16px;